.meni {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: black;
    color: white;
    z-index: +1;
    position: sticky;

}

li {

    float: left;
    list-style-type: none;
}

li a {
    display: block;
    font-family: Arial;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: pink;
}

img {
    width: 100%;
    margin: 0%;
    height: 600px;


}
#logo {
	width:auto;
	height:85px;
}

.slika {
    opacity: 0.9;
    position: relative;
}

.slikatekst {
    position: absolute;
    top: 100px;
    right: 90px;
    font-size: 40px;
    color: ivory;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#nega {
    color: white ;
}

i {
    margin: 10px;
}

.opis {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    background-color: black;
    color: white;
}


h2 {
    color: pink;
}



.vreme {
    display: flex;
    color: white;
    font-size: 30px;
    align-items: center;


}

.footer1 {
    background-color: black (29, 26, 26);
    color: white;
    height: 300px;
    position: relative;

}

.footer1 {
    border: 3px solid pink;

}

.footer1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: black;


}

.footer1 .informations i {
    color: black;
}



.footer1 .informations .socialmedia a {
    color: black;
}

.footer1 .informations .socialmedia a:hover {
    color: blue;

}




.footer-bottom {
    background-color: black;
    color: white;
    text-align: center;

}

.informations {
    display: flex;
    flex-direction: column;
}


h3 {
    color: black;
    font-size: 30px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.vesti {
    background-color: black;

}